extends layout

block content
  p About: #{title}

  p Manager service endpoint: #{managerHost}
  p Manager service version: #{managerVersion}   
  p RPS simulator endpoint: #{simulatorHost}
  p RPS simulator version: #{simulatorVersion}
  
